.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  margin: auto;
  padding: 40px 40px 60px;
  background-color: var(--modal-bg);
  border-radius: var(--modal-border-radius);
  z-index: 10;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.ModalHeader {
  display: flex;
  align-items: center;
  min-height: 64px;
  width: 100%;
  box-sizing: border-box;
}
.ModalHeader h2 {
  flex-grow: 1;
}
.closeButton {
  background-color: transparent;
  border: none;
}