body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.content-center {
  display: flex;
  height: calc(100vh - 166px);
  align-items: center;
  justify-content: center;
  padding: 40px;
}
button.link {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--primary);
  font-family: var(--font-family);
  cursor: pointer;
}
.message {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 5rem;
  align-items: center;
  justify-content: center;
}
:root {
  --font-family: 'Jet Brains Mono', -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* colors */
  --container-width: 1280px;
  --primary: #F2F2F3;
  --secondary: #8585AD;
  --error: #E52B1A;
  --success: ##00CCCC;
  --modal-bg: #1C1C21;
  --modal-border-radius: 40px;
}
.text-center {
  text-align: center;
}
.text-primary {color: var(--primary);}
.text-secondary {color: var(--secondary);}
.text-error {color: var(--error);}
.text-success {color: var(--success);}
.bg-primary {background-color: var(--primary);}
.bg-secondary {background-color: var(--secondary);}
.bg-error {background-color: var(--error);}
.bg-success {background-color: var(--success);}